@model MvcApplication1.Models.ProgrammingLanguage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Language, "Язык программирвоания", new { @class = "control-label col-sm-2" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.Language, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
